.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(-300deg) scale(0.5);
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 300ms;
}

.form {
  width: 528px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.personal-data__titel {
  padding-top: 40px;
  margin-top: 0;
  margin-bottom: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.personal-data__input {
  width: 100%;
  padding: 11px 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.form-field label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field .personal-data__agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  padding-right: 13px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-field textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.personal-data__comment {
  padding: 12px 16px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.personal-data__agreement {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 12px;
  padding-right: 13px;
}

.personal-data__agreement span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personal-data__agreement-link {
  color: var(--accent-color);
}

.personal-data__input-wrap {
  position: relative;
}

.personal-data__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  .personal-data__input:focus + & {
    fill: var(--accent-color);
  }
}

.personal-data__check-icon {
  fill: transparent;
}

.personal-data__check:checked + .personal-data__agreement > span {
  background-color: var(--accent-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal-data__check:checked + .personal-data__agreement svg {
  fill: #ffffff;
}
